.buildingsContainer,
.buildingsTitle {
    max-width: 800px;
    margin: auto;
}

.connectedBuildingsContainer{
    border: 1px solid black;
    max-height: 50vh;
    overflow: scroll;
    margin-bottom: 1em;
}

.buildingsContainer a {
    background-color: var(--main-1);
}

.buildingsContainer a:nth-child(odd) {
    background-color: var(--main-2);
}

.buildingListItem {
    background-color: inherit;
    border-bottom: 1px solid black;
}

.buildingsContainer a:last-child {
    border-bottom-width: 0px;
}
