.ViewerMain {
    position: relative;
    height: 100%;
    display: flex;
}

.floorsContainer {
    flex-direction: column;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1000;
    max-height: 70vh;
    max-width: min-content;
    flex-wrap: nowrap;
}

.locationMarker {
    z-index: 100;
}

.MapViewerNotification {
    z-index: 3000;
    position: absolute;
    width: 70%;
    left: 15px;
    top: 15px;
}

.area:hover {
    fill: yellow
}

.liveLocationMarker {
    transition: .5s;
}

.title {
    opacity: 0;
    transition: opacity .4s;
}

.AreaSearch {
    min-width: 30%;
    max-width: 30%;
    padding: 0 1em;
    overflow: hidden;
    white-space: pre-line;
    text-align: left;
    /* https://stackoverflow.com/questions/36230944/prevent-flex-items-from-overflowing-a-container */
    min-height: 0;
}

.description {
    white-space: pre-wrap;
}

.areaResultsItem {
    background-color: var(--main-3);
    padding: .5em;
    border-radius: .4em;
    margin-bottom: 1em;
}

.areaResultsItem p {
    margin: 0px;
}

.areaResultsItemTitle {
    font-size: large;
}

@media only screen and (max-width: 600px) {
    .AreaSearch {
        position: absolute;
        left: 0px;
        right: 0px;
        min-width: unset;
        max-width: unset;
        width: 70%;
        z-index: 2000;
        margin: auto;
        margin-right: 20%;
    }
    .searchResultsContainer {
        max-height: 40vh;
        overflow-y: scroll;
    }
}
