.ViewerMain {
    position: relative;
    height: 100%;
    display: flex;
}

.floorsContainer{
    flex-direction: column;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1000;
    max-height: 70vh;
}

.locationMarker {
    z-index: 100;
}

.MapViewerNotification {
    z-index: 110;
    position: absolute;
    width: 70%;
    left: 15px;
    top: 15px;
}

.area:hover {
    fill: yellow
}

.liveLocationMarker{
    transition: .5s;
}

.title {
    opacity: 0;
    transition: opacity .4s;
}

.AreaSearch {
    min-width: 30%;
    max-width: 30%;
    padding: 0 1em;
    overflow: hidden;
    white-space: pre-line;
    text-align: left;
    /* https://stackoverflow.com/questions/36230944/prevent-flex-items-from-overflowing-a-container */
    min-height: 0;
}

.description {
    white-space: pre-wrap;
}
