#root {
  margin: 0 auto;
  text-align: center;
}

.mainVerticalFlexContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

footer {
  display: flex;
  align-items: center;
  margin: auto;
  gap: 1em;
}

.footerButton {
  background-color: var(--main-2);
  padding: .3em;
  border-radius: .3em;
  display: flex;
}
