:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-1: #F8EFEC;
  --main-2: #EED2CC;
  --main-3: #DD9483;
  --main-4: #EC6445;
  --main-5: #9A3721;

  --overlay-1: #eed2cca6;
}
