.directoryMain {
    margin-bottom: 5em;
}

footer.notDeviceHeightPage  {
    position: fixed;
    display: flex;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
}

footer.notDeviceHeightPage .userButtons {
    margin: 0;
}

.NoEmailInformer {
    margin-left: auto;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    padding: 0px;
    border-width: 5px;
    margin-top: -1px;
    display: flex;
    align-items: center;
    background-color: Red;
    justify-content: center;
}
