.directoryMain {
    margin-bottom: 5em;
}

footer.notDeviceHeightPage  {
    position: fixed;
    display: flex;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
}

footer.notDeviceHeightPage .userButtons {
    margin: 0;
}
